body
{
    margin: 0px;
    background-color: rgb(123, 211, 233);
    font-family: cursive;
}



 .form
 {  display: flex;
    margin-top: 20px;
   justify-content: space-evenly;
   /* margin-right: 30px; */
    margin-left: 30px;
    /* border: 5px solid black; */
    width: 96%;
    height: 600px;
    box-shadow: 0 3px 20px rgb(18, 2, 7);

 }
.info
{   display: flex;
    justify-content: center;
    flex-direction: column;
  
    /* border: 5px solid black; */
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 30px;
    background-color: rgb(16, 94, 114);
    box-shadow: 0 3px 20px rgb(18, 2, 7);

}
.info h1{
    text-align: center;
    color: white;
}
.info img{
    width:500px;
    margin-left: 50px;
    margin-top: -20px;

}
.contact1{
    justify-content: center;
    background-color: white;
    /* border: 5px solid black; */
    width: 500px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 30px;
   
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
 }
 
.button1
{
    margin-left: 35%;
    margin-right: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size:30px;
    background-color: rgb(16, 94, 114);
    color: white;

}

.info .contact1.button{
background-color: grey;
}




